html,
head {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(77, 8, 48);
  font-size: 40px;
}

title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(77, 8, 48);
  font-size: 30px;
}
body {
  background-color: rgb(230, 129, 199);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  color: rgb(77, 8, 48);
  font-size: 40px;
}
h2,
h5,
a,
span {
  color: black;
}
.p-2 {
  font-size: 20px;
  font-family: sans-serif;
}
#score-list {
  font-size: 20px;
  color: rgb(126, 23, 23);
}
ol {
  list-style: none;
  counter-reset: li;
}
li {
  counter-increment: li;
}
li::before {
  content: "." counter(li);
  color: rgb(102, 15, 90);
  display: inline-block;
  width: 16px;
  margin-left: -24px;
  margin-right: 10px;
  text-align: right;
  direction: rtl;
}
#scoresTitle {
  padding-left: 16px;
}
